<div class="module-container">
  <div class="module-header">
    <h1 class="module-name">
      Power BI
    </h1>
    <p class="module-title">
      набор средств бизнес-аналитики для получения и исследования данных организации
    </p>
  </div>
  <div class="module-img-with-btn">
    <div class="module-img">
      <img [src]="'Scripts/NgApp/assets/power_img_1.png'" 
        alt="Картинка" width="600px"
      />
    </div>
    <div class="module-btn">
      <button md-raised-button color="accent" [ngClass]="'md-icon-button'">
        <i class="neo_power" style="width:25px"></i>
        Перейти в Power BI
      </button>
    </div>
  </div>
  <div class="module-text">
      Power BI предоставляет широкий набор динамических отчетных форм пользователям различных подразделений
      ГУП “Мосгортранс”. Источниками данных являются информационные системы всех подразделений предприятия. Данные представляются в виде разнообразных форм продвинутой визуализации - диаграммы, индикаторы,
      табличные представляения. Состав доступных данных зависит от роли пользователя. 
  </div>

</div>