<div class="module-container">
    <div class="module-header">
      <h1 class="module-name">
        Геолокация
      </h1>
      <p class="module-title">
          инструмент для определения географического местоположения
      </p>
    </div>
    <div class="module-img-with-btn">
      <div class="module-img">
        <img [src]="'Scripts/NgApp/assets/geolocation_img_1.png'" 
          alt="Картинка" width="600px"
        />
      </div>
      <div class="module-btn">
        <button md-raised-button color="accent" [ngClass]="'md-icon-button'">
          <i class="neo_geolocation"></i>
          Перейти в геолокацию
        </button>
      </div>
    </div>
    <div class="module-text">
    </div>
  
  </div>