<div class="module-container">
  <div class="module-header">
    <h1 class="module-name">
        Reporting Services
    </h1>
    <p class="module-title">
        инструмент для создания и просмотра сложных отчетных форм
    </p>
  </div>
  <div class="module-img-with-btn">
      <div class="module-img">
          <img [src]="'./assets/reporting_img_1.png'"
            alt="Картинка" width="300px"
          />
        </div>
        <div class="module-img">
            <img [src]="'./assets/reporting_img_2.png'"
              alt="Картинка" width="300px"
            />
          </div>
        <div class="module-btn">
          <button md-raised-button color="accent" [ngClass]="'md-icon-button'">
            <i class="neo_reporting" style="width:25px"></i>
            Перейти RS
          </button>
        </div>
  </div>
  <div class="module-text">
      Наборы отчетов в <b>Reporting Services</b> группируются в зависимости от ролей пользователей.
  </div>
</div>
